<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form method="post"
      action="/transfer">
  <input type="text"
         name="amount" placeholder="송금액"/>
  <input type="text"
         name="account" placeholder="계좌번호"/>
  <input type="submit"
         value="Transfer"/>
</form>
</body>
</html>