.header-main-logo {
    margin-left: 20px;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-main {
    display: flex;
}

.header-main-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-left: 20px;
}

.header-sub {
    display: flex;
    align-items: center;
}

.header-sub-icons {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.Header-sub-icon {
    display: flex;
}

.Header__sub__icon {
    display: flex;
}

.Header__sub__profile {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}